@model TemplateViewModel

<div class="card">
    <div class="card-header">
        @Html.DisplayFor(model => model.TemplateType)
    </div>
    <div class="card-body">
        <pre>
            @Html.DisplayFor(model => model.Content)
        </pre>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Resource Definition
    </div>
    <div class="card-body">
        <pre>
            @Html.Raw(Newtonsoft.Json.Linq.JToken.Parse(@Model.ResourceJson).ToString(Newtonsoft.Json.Formatting.Indented))
        </pre>        
    </div>
</div>

<div class="card">
    <div class="card-header">
        API Definition
    </div>
    <div class="card-body">
        <pre>
            @Html.Raw(Newtonsoft.Json.Linq.JToken.Parse(@Model.FullDefinition).ToString(Newtonsoft.Json.Formatting.Indented))
        </pre> 
    </div>
</div>