@model AzureResourceViewModel

<tr>
    <td>@Html.DisplayFor(model => model.Name)</td>
    <td>@Html.DisplayFor(model => model.Type)</td>
    <td>@Html.DisplayFor(model => model.Location)</td>
    <td>@Html.DisplayFor(model => model.IsMigrated)</td>
    <td>@Html.DisplayFor(model => model.Notes)</td>
    <td>
        <a asp-action="Migrate" asp-controller="AzureResources" asp-route-id="@Model.ResourceId" asp-route-containerId="@Model.ResourceContainerId"><span class="material-icons" title="Migrate">done</span></a>
        <a asp-action="Template" asp-controller="Templates" asp-route-id="@Model.ResourceId"><span class="material-icons" title="Generate">build</span></a>
        <a asp-action="Notes" asp-controller="AzureResources" asp-route-id="@Model.ResourceId" asp-route-containerId="@Model.ResourceContainerId"><span class="material-icons" title="Notes">note</span></a>
        <a asp-action="DeleteResource" asp-controller="AzureResources" asp-route-id="@Model.ResourceId" asp-route-containerId="@Model.ResourceContainerId"><span class="material-icons text-danger" title="Delete">delete</span></a>
    </td>
</tr>