@using System.Web
@model AzureResourceViewModel

<tr>
    <td>@Html.DisplayFor(model => model.Name)</td>
    <td>@Html.DisplayFor(model => model.Type)</td>
    <td>@Html.DisplayFor(model => model.Location)</td>
    <td>@Html.DisplayFor(model => model.IsMigrated)</td>
    <td>@Html.DisplayFor(model => model.Notes)</td>
    <td>
        <a asp-action="Migrate" asp-controller="ResourceTypes" asp-route-id="@Model.ResourceId" class="btn btn-primary">Migrate</a>
    </td>
</tr>