@using System.Web
@model ResourceTypeViewModel

<tr>
    <td>@Html.DisplayFor(model => model.ResourceType)</td>
    <td>
        <a asp-action="Resources" asp-controller="ResourceTypes" class="btn btn-primary" asp-route-id="@HttpUtility.UrlEncode(@Model.ResourceType)" >View</a>
        <a asp-action="UnMigrate" asp-controller="ResourceTypes" asp-route-id="@HttpUtility.UrlEncode(@Model.ResourceType)" class="btn btn-danger">Un-migrate</a>
    </td>
</tr>