@using Mx.Library.Serialization
@model AzureResourceViewModel

<form asp-action="Migrate" asp-controller="AzureResources">
    @Html.HiddenFor(model => model.ResourceId)
    @Html.HiddenFor(model => model.ResourceContainerId)
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Id"></label>
                @Html.DisplayFor(model => model.Id)
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="form-group">
                <label asp-for="Location"></label>
                @Html.DisplayFor(model => model.Location)
            </div>
            <div class="form-group">
                
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Definition"></label>
                <pre>
                    @Html.Raw(Newtonsoft.Json.Linq.JToken.Parse(@Model.Definition).ToString(Newtonsoft.Json.Formatting.Indented))
                </pre>
            </div>
            
        </div>
    </div>
    <input type="submit" value="Migrate" />
</form>